@charset "utf-8";

body, p, table, tr, td, strong, h1, h2, h3, h4, h5, h6, blockquote, li {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited, a:active, a:hover, a:link {
   text-decoration: none;
}

#top-panel {
   background-image: none;
   background: black;
  height: 60px;
}

/* search boxの表示を変更 */
#search-box {
  margin-top: 15px;
  background: #eee;  
  padding-left: 0px;
  width: 15em;
  position: static; 
  border: 0px;
  border-radius: 0px;
  box-shadow: 0px;
  outline: none;
  width: 180px;  
  height: 25px;  
  border: none;  
  padding: 4px;  
  color: #333F;  
}


/* Jenkinsのロゴを表示しない */
#top-panel img:first-child {
  display:none;
/* background-image: url(topbar.png) !important; */
}

#main-table {
   background: none;
   background-image: none;
   background-position: bottom left;
/* background-image: url(jenkins_logo.png) !important; */
}

